# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Local env files
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
